.body-top {
  display: flex;
  justify-content: space-between;
  top: -5px;
}
.arm {
  display: flex;
  margin-top: 7px;
}

.right-arm {
  flex-direction: row-reverse;
  right: -5px;
}

.left-arm {
  flex-direction: row;
  left: -5px;
}

.arm .first {
  height: 20px;
  width: 35px;
  background-color: azure;
  border-radius: 8px;
  z-index: 7;
}
.arm.right-arm .first {
  transform: rotate(180deg);
}

.arm.right-arm .second {
  transform: rotate(180deg);
}

.arm .first::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  right: -30px;
  height: 24px;
  width: 10px;
  background-color: #cccccc;
  border-radius: 50px;
  z-index: 10;
}

.arm .second {
  height: 20px;
  width: 30px;
  background-color: azure;
  border-radius: 8px;
  z-index: 6;
}

.arm .second::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  right: -24px;
  height: 24px;
  width: 8px;
  background-color: #cccccc;
  border-radius: 50px;
  z-index: 10;
}

.arm .hand {
  height: 20px;
  width: 18px;
  background-color: #bdbec0;
  border-radius: 10px 10px 0px 0px;
}

.arm .hand::before {
  content: '';
  height: 12px;
  width: 6px;
  background-color: #bdbec0;
  border-radius: 10px 10px 0px 0px;
  display: inline-block;
  position: relative;
  bottom: -5px;
}

.arm.right-arm .hand {
  transform: rotate(-90deg);
}

.arm.right-arm .hand::before {
  transform: rotate(47deg);
  right: -15px;
}

.arm.left-arm .hand {
  transform: rotate(90deg);
}

.arm.left-arm .hand::before {
  transform: rotate(-47deg);
  left: -3px;
}

.saludo {
  display: flex;
  flex-direction: row-reverse;
}

